@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --var-headerHeight: 9rem;

  --var-DarkBlue: rgb(45, 49, 77);
  --var-LimeGreen: rgb(49, 211, 92);
  --var-BrightCyan: rgb(43, 183, 218);

  --var-GrayishBlue: rgb(150, 152, 166);
  --var-LightGrayishBlue: rgb(243, 244, 246);
  --var-VeryLightGray: rgb(250, 250, 250);
  --var-White: rgb(255, 255, 255);
}

html {
    font-family: "Open Sans", sans-serif;
}

body, main {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.alinhamentoGeral {
  width: min( 144rem, 100%); 
  padding: 0 4rem;
  overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--var-GrayishBlue);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--var-headerHeight);
    padding: 2rem 0;
    color: var(--var-White);
    z-index: 10;
}

header > .alinhamentoGeral {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navigation {
    display: flex;
    gap: 3rem;
}

.navigation a {
    position: relative;
    font-size: 1.5rem;
    
}

.navigation a:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, var(--var-LimeGreen), var(--var-BrightCyan));
    bottom: -1rem;
    right: 0;
}

.btn-invite {
    color: var(--var-White);
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    background-image: linear-gradient(to right, var(--var-LimeGreen), var(--var-BrightCyan));
}

.btn-invite:hover {
    /* background-image: linear-gradient(to right, rgb(91, 211, 123), rgb(131, 205, 226)); */
    filter: brightness(108%);
}

/* --------------- Section Home ---------------  */

.sectionHome {
    position: relative;
    max-width: 100vw;
    height: 75vh;
    background-color: var(--var-VeryLightGray);
    display: flex;
    justify-content: center;  
}

.sectionHome .alinhamentoGeral {
    height: 100%;
    display: flex;
    overflow: hidden;
   
}

.information-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-right: 15rem ;
}

h1 {
    font-size: 6.5rem;
    color: var(--var-DarkBlue);
    font-weight: 400;
}

.information-left p {
    
    font-size: 2rem;
    color: var(--var-GrayishBlue);
}

.box-btn-invite {
    margin-top: 2rem;
}

.imagem-home {
    width: 50%;
  
    overflow: hidden;
}

.imagem-home .img-backdround {
    position: absolute;
    right: -30rem;
    top: -25rem;
    z-index: 0;
}

.img-celulares {
    position: absolute;
    z-index: 1;
    right: 0;
    top: -12rem;
}

/*--------------- Section Informações --------------- */

.sectionInformation {
    width: 100%;
    background-color: var(--var-LightGrayishBlue);
    display: flex;
    justify-content: center;  
    padding: 10rem 0;
}

.sectionInformation .alinhamentoGeral {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo-information{
    width: 100%;
    margin-bottom: 5rem;
}

h2 {
    font-size: 3.5rem;
    color: var(--var-DarkBlue);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.titulo-information p {
    font-size: 1.7rem;
    color: var(--var-GrayishBlue);

}

.cards-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.cards {
    width: 30rem;
}

.cards img {
    margin-bottom: 3rem;
}

.cards p {
    font-size: 1.7rem;
    color: var(--var-GrayishBlue);
}

h3 {
    font-size: 2.5rem;
    color: var(--var-DarkBlue);
    font-weight: 400;
    margin-bottom: 2rem;

}

/*--------------- Section Articles --------------- */

.sectionArticles {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    background-color: var(--var-VeryLightGray);
}

.boxArticles {
    width: 100%;
   
    display: flex;
    justify-content: space-between;
}

.cardsArticles {
    width: 28rem;
    background-color: var(--var-White);
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

.boxImagem {
    width: 100%;
    height: 21rem;
}

.boxImagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxInformation {
    width: 100%;
    height: 100%;
    padding: 2rem ;
}

h4 {
    font-size: 1.7rem;
    color: var(--var-DarkBlue);
    font-weight: 500;
    margin: 1rem 0;
}

h4:hover {
    color: var(--var-LimeGreen);
    cursor: pointer;
}

.boxInformation p {
    font-size: 1.4rem;
    color: var(--var-GrayishBlue);
}

.boxInformation p:nth-child(1) {
    font-size: 1.2rem;
}

/* ----------------- FOOTER -------------------- */

footer {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--var-DarkBlue);
    display: flex;
    justify-content: center;
}

footer .alinhamentoGeral {
    display: flex; 
    justify-content: space-evenly;
}

.links-footer, .menu-footer, .btn-footer {
    width: 100%;
    height: 100%;
}

.links-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-sociais {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.menu-footer {
    color: var(--var-LightGrayishBlue);
    font-size: 1.3rem;
    display: flex;
    gap: 25%;
}

.menu-footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
}

.menu-footer div p:hover {
    color: var(--var-LimeGreen);
    cursor: pointer;
}

.btn-footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
} 

.btn-footer p {
    font-size: 1.3rem;
    color: var(--var-GrayishBlue);
}

